* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#container {
  padding-top: 100px;
  height: 500px;
  Width: 500px;
  margin: auto;
  max-width: 500px;
  max-height: 500px;
}

div.square {
  display: inline-block;
  background-color: blue;
  border: 1px solid #CCC;
  border-collapse: collapse;
}

.row {
  width: 100%;
  min-width: 500px;
}

.data {
  background-color: blue;
  border-color: none;
  padding: 0;
}

table {
  border-collapse: collapse;
  height: 100%;
  width: 100%;
  max-height: 500px;
  overflow-y: hidden;
}

.newPad {
  border: 1px solid black;
  position: absolute;
}
